<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            <%= current_user.username %>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
    Basic panel example
          </div>
        </div>
    </div>
    
    <div class="col-xs-6">
        <%= render '/components/post_form' %>
        <% for @p in @posts %>
        <div class="panel panel-default">
          <div class="panel-body">
            <p><%= @p.content %></p>
          </div>
        </div>
        <% end%>
    </div>
    
    <div class="col-xs-3">
        <div class="panel panel-default">
          <div class="panel-body">
    Basic panel example
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            Basic panel example
          </div>
        </div>
    </div>
</div>